[defaults]
library = ./library
inventory = inventory/aws_ec2_dynamic.py
remote_user = ubuntu
private_key_file = ~/.ssh/self-healing-key.pem
host_key_checking = False
interpreter_python = /usr/bin/python3
retry_files_enabled = False
stdout_callback = ansible.builtin.default
result_format = yaml

[ssh_connection]
pipelining = True
